.nav-bar {
  background: white;
}

ul.nav-bar-items {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px;
  margin: 0 auto;
  /* background: orange; */
  border-bottom: 1px solid lightgray;
  /* max-width: 90%; */
}

nav.greeting-links {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 200px;
  margin-right: 25px;
}

button.form-button-signup {
  color: #fff;
  background-color: #247f9e;
  font-size: 20px;
  margin: 0 8px;
  border: 0.0625rem solid #247f9e;
  padding: 8px 12px 6px 12px;
  cursor: pointer;
  border-radius: 3px;
}

button.form-button-signin {
  color: #2d333f;
  background-color: transparent;
  border: 0.0625rem solid #d8d9db;
  font-size: 20px;
  margin: 0;
  padding: 8px 12px 6px 12px;
  cursor: pointer;
  border-radius: 3px;
}

h1.logo {
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
  cursor: pointer;
}

.nav-logo {
  display: flex;
  align-items: center;
  padding: 10px 5px 10px 25px;
}

.search-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 80rem;
  padding: 0.5rem;
  margin: 0.5px;
}

.search-title {
  margin: 0 0 16px;
  font-size: 48px;
  line-height: 56px;
  /* font-family: sans-serif; */
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.search-input {
  margin: 0 16px 0 0;
  border-radius: 6px;
  flex: 1 1 auto;
  width: 25rem;
  height: 3rem;
  background: url("https://seat-check-seeds.s3-us-west-1.amazonaws.com/searchicon.png")
    no-repeat;
  background-size: 23px 23px;
  background-position: 10px 13px;
  background-color: white;
  padding-left: 35px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-submit-button {
  border-radius: 6px;
  background-color: #da3743;
  color: #fff;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  width: 17rem;
  border: none;
  outline: none;
}

.search-submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.search-input::-webkit-input-placeholder {
  font-size: 14px;
}

.search-field {
  display: flex;
}

body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  left: 30px;
  width: 25rem;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 3;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: 50%;
  min-height: 26rem;
  position: relative;
}

.cover-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
      90deg,
      rgba(47, 45, 65, 0.7),
      rgba(47, 45, 65, 0.7)
    ),
    url("https://seat-check-seeds.s3-us-west-1.amazonaws.com/Moongate_PChang_3118.jpg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
  position: absolute;
  opacity: 1;
}

.cover-content {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.cover-phrase {
  margin: 0 0 16px;
  font-size: 48px;
  line-height: 56px;
  /* font-family: sans-serif; */
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.features {
  width: 79%;
  margin: 0 auto;
  min-width: 580px;
  margin-bottom: 50px;
}
.areas {
  margin-top: 35px;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 3px 7px 0px #ccc;
}

.areas h1 {
  border-bottom: 1px solid lightgray;
  font-size: 24px;
  padding: 10px 0px 20px 0px;
  margin: 10px 20px;
  font-weight: 800;
  /* font-family: sans-serif; */
}

.area-list {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fcity {
  width: 30%;
  height: 200px;
  color: white;
  font-size: 22px;
  text-align: center;
  line-height: 200px;
  background: orange;
  margin: 5px;
  border-radius: 5px;
  text-shadow: 1px 1px 2px #000;
  /* font-family: sans-serif; */
}

.fcity:hover {
  /* opacity: 0.80; */
  transform: scale(1.05);
  cursor: pointer;
  filter: brightness(150%) saturate(150%);
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  margin-right: 30px;
}
/* .header-dropdown-menu > li{
    position: relative;
    box-sizing: border-box;
    border: 0;
    padding: 8px 12px;
    cursor: pointer;
    text-align: left;
} */

.dropdown-item {
  padding: 8px 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.header-dropdown-menu div:hover {
  background: lightgray;
}

.user-header {
  font-size: 20px;
  cursor: pointer;
}
.greeting {
  position: relative;
  z-index: 5;
  margin-right: 25px;
  height: 50px;
  line-height: 2.5;
}

.header-dropdown-menu {
  display: none;
  position: absolute;
  white-space: nowrap;
  border: 1px solid lightgray;
  overflow: hidden;
  width: 300p;
}

li:hover .header-dropdown-menu {
  display: block;
  top: 50px;
  min-width: 30px;
  z-index: 5;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  left: -30px;
  opacity: 0.9;
  width: 150px;
}
