.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}

/* Sign in Button + Modal */
button.form-button-signup {
  color: #fff;
  background-color: #247f9e;
  font-size: 20px;
  margin: 0 8px;
  border: 0.0625rem solid #247f9e;
  padding: 8px 12px 6px 12px;
  cursor: pointer;
  border-radius: 3px;
}

button.form-button-signin {
  color: #fff;
  background-color: #247f9e;
  font-size: 20px;
  margin: 0 8px;
  border: 0.0625rem solid #247f9e;
  padding: 8px 12px 6px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.modal-header {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 32%;
}

.close-x {
  color: gray;
  background-color: transparent;
  border: none;
  align-self: flex-end;
  font-weight: bold;
  cursor: pointer;
}

h2.form-title {
  font-size: 24px;
  padding: 10px 12px 10px 8px;
  width: 95%;
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
}

.form-box {
  background: white;
  width: 415px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-radius: 5px;
  text-align: center;
}

input.form-button {
  color: #fff;
  margin: 8px;
  background-color: #da3743;
  border-color: #b8222d;
  border-style: solid;
  cursor: pointer;
  font-weight: 500;
  border-width: 0;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  outline: 0;
  border-radius: 3px;
  display: inline-block;
  height: 45px;
}

input.form-input {
  outline: 0;
  font-weight: 500;
  display: block;
  background: white;
  font-size: 0.875rem;
  border: 1px solid lightgray;
  height: 25px;
  padding: 4px 4px 4px 7px;
  margin-bottom: 10px;
  margin: 8px;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

element.style {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
  cursor: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.dropbtn {
  /* background-color: #4caf50; */
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.nav-profile {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.nav-profile:hover .dropdown-content {
  display: block;
}
