button.form-button-signup {
  color: #fff;
  background-color: #247f9e;
  font-size: 20px;
  margin: 0 8px;
  border: 0.0625rem solid #247f9e;
  padding: 8px 12px 6px 12px;
  cursor: pointer;
  border-radius: 3px;
}

button.form-button-signin {
  color: #2d333f;
  background-color: transparent;
  border: 0.0625rem solid #d8d9db;
  font-size: 20px;
  margin: 0;
  padding: 8px 12px 6px 12px;
  cursor: pointer;
  border-radius: 3px;
}

/* Modal Content */
.modal-start {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 32%;
}

/* The Close Button */
.close-x {
  color: gray;
  background-color: transparent;
  border: none;
  align-self: flex-end;
  font-weight: bold;
  cursor: pointer;
}

.signup-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.form-box {
  background: white;
  width: 415px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-radius: 5px;
  text-align: center;
}

h2.form-title {
  font-size: 24px;
  padding: 10px 12px 10px 8px;
  width: 95%;
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
}

input.form-button {
  color: #fff;
  margin: 8px;
  background-color: #da3743;
  border-color: #b8222d;
  border-style: solid;
  cursor: pointer;
  font-weight: 500;
  border-width: 0;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  outline: 0;
  border-radius: 3px;
  display: inline-block;
  height: 45px;
}

input.form-input {
  outline: 0;
  font-weight: 500;
  display: block;
  background: white;
  font-size: 0.875rem;
  border: 1px solid lightgray;
  height: 25px;
  padding: 4px 4px 4px 7px;
  margin-bottom: 10px;
  margin: 8px;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

element.style {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
  cursor: auto;
}
